<div class="row">
  <div class="col-md-6">
    <h3>Tuesday, Feb. 20</h3>
    <table class="table table-striped">
      <tr> <td>08:30</td>  <td><a href="https://cgeroux.github.io/git-novice/">Version Control with Git</a></td> </tr>
      <tr> <td>10:00</td>  <td>Coffee</td> </tr>
      <tr> <td>08:30</td>  <td><a href="https://cgeroux.github.io/git-novice/">Version Control with Git cont.</a></td> </tr>
      <tr> <td>11:45</td>  <td>Lunch break</td> </tr>
      <tr> <td>12:30</td>  <td><a href="https://cgeroux.github.io/sql-novice-survey/">Using Databases and SQL</a></td> </tr>
      <tr> <td>03:00</td>  <td>Coffee</td> </tr>
      <tr> <td>12:30</td>  <td><a href="https://cgeroux.github.io/sql-novice-survey/">Using Databases and SQL cont.</a></td> </tr>
      <tr> <td>05:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Wednesday, Feb. 21</h3>
    <table class="table table-striped">
      <tr> <td>08:30</td>  <td>Introduction to R and RStudio</td> </tr>
      <tr> <td>09:55</td>  <td>Project Management with RStudio</td></tr>
      <tr> <td>10:15</td>  <td>Coffee</td> </tr>
      <tr> <td>10:30</td>  <td>Seeking help</td></tr>
      <tr> <td>11:00</td>  <td>Data Structures</td></tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>Exploring Data Frames</td> </tr>
      <tr> <td>13:30</td>  <td>Subsetting Data</td></tr>
      <tr> <td>15:00</td>  <td>Coffee</td> </tr>
      <tr> <td>15:15</td>  <td>Control Flow</td></tr>
      <tr> <td>16:00</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:30</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Thursday, Feb. 22</h3>
    <table class="table table-striped">
      <tr> <td>08:30</td>  <td>Creating Publication-Quality Graphics</td> </tr>
      <tr> <td>10:15</td>  <td>Coffee</td> </tr>
      <tr> <td>10:30</td>  <td>Vectorization</td></tr>
      <tr> <td>11:30</td>  <td>Functions Explained</td></tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>Writing Data</td> </tr>
      <tr> <td>13:30</td>  <td>Split-Apply-Combine</td></tr>
      <tr> <td>15:00</td>  <td>Coffee</td> </tr>
      <tr> <td>15:15</td>  <td>Writing Good Software</td></tr>
      <tr> <td>16:00</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:30</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
