<div class="row">
  <div class="col-md-6">
    <h3>Tuesday, Feb. 20</h3>
    <table class="table table-striped">
      <tr> <td>08:30</td>  <td><a href="https://cgeroux.github.io/git-novice/">Version Control with Git</a></td> </tr>
      <tr> <td>10:00</td>  <td>Coffee</td> </tr>
      <tr> <td>08:30</td>  <td><a href="https://cgeroux.github.io/git-novice/">Version Control with Git cont.</a></td> </tr>
      <tr> <td>11:45</td>  <td>Lunch break</td> </tr>
      <tr> <td>12:30</td>  <td><a href="https://cgeroux.github.io/sql-novice-survey/">Using Databases and SQL</a></td> </tr>
      <tr> <td>03:00</td>  <td>Coffee</td> </tr>
      <tr> <td>12:30</td>  <td><a href="https://cgeroux.github.io/sql-novice-survey/">Using Databases and SQL cont.</a></td> </tr>
      <tr> <td>05:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Wednesday, Feb. 21</h3>
    <table class="table table-striped">
      <tr> <td>08:30</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/01-rstudio-intro/">Introduction to R and RStudio</a></td> </tr>
      <tr> <td>09:55</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/02-project-intro/">Project Management with RStudio</a></td></tr>
      <tr> <td>10:15</td>  <td>Coffee</td> </tr>
      <tr> <td>10:30</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/03-seeking-help/">Seeking help</a></td></tr>
      <tr> <td>11:00</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/04-data-structures-part1/">Data Structures</a></td></tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/05-data-structures-part2/">Exploring Data Frames</a></td> </tr>
      <tr> <td>13:30</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/06-data-subsetting/">Subsetting Data</a></td></tr>
      <tr> <td>15:00</td>  <td>Coffee</td> </tr>
      <tr> <td>15:15</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/07-control-flow/">Control Flow</a></td></tr>
      <tr> <td>16:00</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:30</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Thursday, Feb. 22</h3>
    <table class="table table-striped">
      <tr> <td>08:30</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/08-plot-ggplot2/">Creating Publication-Quality Graphics</a></td> </tr>
      <tr> <td>10:15</td>  <td>Coffee</td> </tr>
      <tr> <td>10:30</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/09-vectorization/">Vectorization</a></td></tr>
      <tr> <td>11:30</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/10-functions/">Functions Explained</a></td></tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/11-writing-data/">Writing Data</a></td> </tr>
      <tr> <td>13:30</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/12-plyr/">Split-Apply-Combine</a></td></tr>
      <tr> <td>15:00</td>  <td>Coffee</td> </tr>
      <tr> <td>15:15</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/16-wrap-up/">Writing Good Software</a></td></tr>
      <tr> <td>16:00</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:30</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
